# Project 3

In [1]:
#Importing modules

import pandas as pd
import tabula
import yaml
from sqlalchemy import create_engine
from sqlalchemy import inspect
import requests
from database_utils import DatabaseConnector
from data_extraction import DataExtractor
from data_cleaning import DataCleaning
import importlib
import json
import boto3
import re
import numpy as np


#starting local database

#read creds
uploader = DatabaseConnector()
ml_yaml = 'ml_dbs.yaml'
uploader.read_db_creds(ml_yaml)

# initialising and returning an sqlalchemy database engine.

uploading = uploader.init_db_engine_postgresql()

Credentials loaded sucessfully!!
Connection successful!

## RDS Database ETL

### 1. Getting data from the RDS database

In [6]:

## read credentials
connector_rds = DatabaseConnector()
ai_core_yaml = 'db_creds.yaml'
connector_rds.read_db_creds(ai_core_yaml)

## initialising and returning an sqlalchemy database engine.
connection_rds = connector_rds.init_db_engine()

## Reading the data from the RDS database
connector_tables_rds = connector_rds.list_db_tables()

Credentials loaded sucessfully!!
Connection successful!
Tables in the database: ['legacy_store_details', 'dim_card_details', 'legacy_users', 'orders_table']

### 2. Extracting the table to a pandas DataFrame.

In [7]:
user_table_rds = 'legacy_users'

extractor_rds = DataExtractor(connection_rds)

user_df_rds = extractor_rds.read_rds_table(user_table_rds)
print(user_df_rds.head(5))
print(user_df_rds.info())

   index first_name last_name date_of_birth                    company  \
0      0   Sigfried     Noack    1990-09-30         Heydrich Junitz KG
1      1        Guy     Allen    1940-12-01                    Fox Ltd
2      2      Harry  Lawrence    1995-08-02  Johnson, Jones and Harris
3      3     Darren   Hussain    1972-09-23                Wheeler LLC
4      4      Garry     Stone    1952-12-20                 Warner Inc

                  email_address  \
0             rudi79@winkler.de
1  rhodesclifford@henderson.com
2  glen98@bryant-marshall.co.uk
3    daniellebryan@thompson.org
4       billy14@long-warren.com

                                             address         country  \
0                       Zimmerstr. 1/0\n59015 Gießen         Germany
1  Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH  United Kingdom
2                 92 Ann drive\nJoanborough\nSK0 6LR  United Kingdom
3             19 Robinson meadow\nNew Tracy\nW22 2QG  United Kingdom
4              3 White pass\nHunterborough\nNN96 4UE  United Kingdom

  country_code       phone_number   join_date  \
0           DE   +49(0) 047905356  2018-10-10
1           GB    (0161) 496 0674  2001-12-20
2           GB  +44(0)121 4960340  2016-12-16
3           GB    (0306) 999 0871  2004-02-23
4           GB      0121 496 0225  2006-09-01

                              user_uuid
0  93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1  8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2  fc461df4-b919-48b2-909e-55c95a03fe6b
3  6104719f-ef14-4b09-bf04-fb0c4620acb0
4  9523a6d3-b2dd-4670-a51a-36aebc89f579
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15320 entries, 0 to 15319
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          15320 non-null  int64
 1   first_name     15320 non-null  object
 2   last_name      15320 non-null  object
 3   date_of_birth  15320 non-null  object
 4   company        15320 non-null  object
 5   email_address  15320 non-null  object
 6   address        15320 non-null  object
 7   country        15320 non-null  object
 8   country_code   15320 non-null  object
 9   phone_number   15320 non-null  object
 10  join_date      15320 non-null  object
 11  user_uuid      15320 non-null  object
dtypes: int64(1), object(11)
memory usage: 1.4+ MB
None

### 3.Cleaning data

In [8]:

clean_data_rds = DataCleaning()
clean_df_rds = clean_data_rds.clean_user_data(user_df_rds)

Checking for Null values:
index            0.0
first_name       0.0
last_name        0.0
date_of_birth    0.0
company          0.0
email_address    0.0
address          0.0
country          0.0
country_code     0.0
phone_number     0.0
join_date        0.0
user_uuid        0.0
dtype: float64
Deleting rows with more than 4 Null values
       index first_name last_name date_of_birth                       company  \
0          0   Sigfried     Noack    1990-09-30            Heydrich Junitz KG
1          1        Guy     Allen    1940-12-01                       Fox Ltd
2          2      Harry  Lawrence    1995-08-02     Johnson, Jones and Harris
3          3     Darren   Hussain    1972-09-23                   Wheeler LLC
4          4      Garry     Stone    1952-12-20                    Warner Inc
...      ...        ...       ...           ...                           ...
15315  14913    Stephen   Jenkins    1943-08-09  Thornton, Carroll and Newman
15316  14994    Stephen     Smith    1948-08-20               Robinson-Harris
15317  15012    Stephen  Losekann    1940-10-09                       Rosenow
15318  15269    Stephen    Rivera    1952-06-04         Taylor, Fry and Jones
15319   1249    Stephen    Duncan    1994-03-27    Phillips, Brown and Powell

                      email_address  \
0                 rudi79@winkler.de
1      rhodesclifford@henderson.com
2      glen98@bryant-marshall.co.uk
3        daniellebryan@thompson.org
4           billy14@long-warren.com
...                             ...
15315           s.jenkins@smith.com
15316             s.smith@smith.com
15317          s.losekann@smith.com
15318            s.rivera@smith.com
15319            s.duncan@smith.com

                                                 address         country  \
0                           Zimmerstr. 1/0\n59015 Gießen         Germany
1      Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH  United Kingdom
2                     92 Ann drive\nJoanborough\nSK0 6LR  United Kingdom
3                 19 Robinson meadow\nNew Tracy\nW22 2QG  United Kingdom
4                  3 White pass\nHunterborough\nNN96 4UE  United Kingdom
...                                                  ...             ...
15315     Studio 41I\nJones lodge\nOliviaborough\nE8 3DU  United Kingdom
15316              530 Young parkway\nMillsfurt\nL4G 7NX  United Kingdom
15317  Viviane-Fritsch-Straße 3/5\n15064 Bad Liebenwerda         Germany
15318   660 Ross Falls Suite 357\nAnthonymouth, MA 09610   United States
15319     Studio 4\nHancock road\nPhillipsview\nST1X 3XB  United Kingdom

      country_code       phone_number   join_date  \
0               DE   +49(0) 047905356  2018-10-10
1               GB    (0161) 496 0674  2001-12-20
2               GB  +44(0)121 4960340  2016-12-16
3               GB    (0306) 999 0871  2004-02-23
4               GB      0121 496 0225  2006-09-01
...            ...                ...         ...
15315           GB    +44(0)292018946  2016-04-15
15316           GB   +44(0)1144960977  2020-07-20
15317           DE        02984 08192  2021-03-07
15318           US       239.711.3836  2011-01-03
15319           GB   +44(0)1314960870  2015-08-28

                                  user_uuid
0      93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1      8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2      fc461df4-b919-48b2-909e-55c95a03fe6b
3      6104719f-ef14-4b09-bf04-fb0c4620acb0
4      9523a6d3-b2dd-4670-a51a-36aebc89f579
...                                     ...
15315  2bd3a12f-a92d-4cdd-b99c-fc70572db302
15316  d234c04b-c07c-46a5-a902-526f91478ecc
15317  1a0a8b7b-7c17-42d8-a946-8a85d5495651
15318  187fe06e-bd5f-4381-af2f-d7ac37ca7572
15319  0589bbca-1d58-4b1f-9d0a-04ed4c57aaa1

[15320 rows x 12 columns]
Looking for duplicates:
0        False
1        False
2        False
3        False
4        False
         ...
15315    False
15316    False
15317    False
15318    False
15319    False
Length: 15320, dtype: bool
checking data types for each columns
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15320 entries, 0 to 15319
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          15320 non-null  int64
 1   first_name     15320 non-null  object
 2   last_name      15320 non-null  object
 3   date_of_birth  15320 non-null  object
 4   company        15320 non-null  object
 5   email_address  15320 non-null  object
 6   address        15320 non-null  object
 7   country        15320 non-null  object
 8   country_code   15320 non-null  object
 9   phone_number   15320 non-null  object
 10  join_date      15320 non-null  object
 11  user_uuid      15320 non-null  object
dtypes: int64(1), object(11)
memory usage: 1.4+ MB
None

### 4. Loading the data
#### uploading the cleaned dataframe into the local database

In [9]:
# Connect with the local database



#load clean rds dataframe into local database with a new table
uploader.upload_to_db(uploading, clean_df_rds, 'dim_users')

Data uploaded successfully to dim_users table.

## PDF data: ETL

### 1.Getting the data from PDF & load in df

In [10]:

connector_pdf = DatabaseConnector()
extractor_pdf = DataExtractor(connector_pdf)

link = "https://data-handling-public.s3.eu-west-1.amazonaws.com/card_details.pdf"
extraction_pdf = extractor_pdf.retrieve_pdf_data(link)
print(extraction_pdf.head(5))
print(extraction_pdf.info())

### 2.Clean the pdf df

In [ ]:
clean_pdf = DataCleaning()

clean_df_pdf =clean_pdf.clean_card_data(extraction_pdf)

### 3. load into db

In [ ]:


uploader.upload_to_db(uploading, clean_df_pdf, 'dim_card_details')

## PDF data: API

### 1. Getting Data from API

In [ ]:
headers = {
    'x-api-key': 'yFBQbwXe9J3sd6zWVAMrK6lcxxr0q1lr2PT6DDMX'
}

number_of_stores_endpoint = 'https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/number_stores'

connector_api = DatabaseConnector()

extractor_api = DataExtractor(connector_api)

number_of_stores = extractor_api.list_number_of_stores(number_of_stores_endpoint, headers)
print(f"Number of stores: {number_of_stores}")

### 2. Extracting the table to a pandas DataFrame

In [ ]:
retrieve_store_endpoint = 'https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/store_details/2'

stores_df = extractor_api.retrieve_stores_data(retrieve_store_endpoint, headers, 2)

### 3.Cleaning data

In [ ]:

clean_stores_api = DataCleaning()
clean_storesdf_api = clean_stores_api.called_clean_store_data(stores_df)

In [ ]:
import importlib
import data_extraction, data_cleaning,database_utils
importlib.reload(data_extraction)
importlib.reload(database_utils)
importlib.reload(data_cleaning)
from data_extraction import DataExtractor
from database_utils import DatabaseConnector
from data_cleaning import DataCleaning

### 4. Loading the data

In [ ]:
uploader.upload_to_db(uploading, clean_storesdf_api, 'dim_store_details')

## S3 data

### 1. Getting data

In [2]:
connector_s3 = DatabaseConnector()
extractor_s3 = DataExtractor(connector_s3)

### 2. Putting into pd df

In [3]:
bucket = 'data-handling-public'
object_key = "products.csv"
pathway = '/Users/student/AICORE/AWS/Project_3/products.csv'

extraction_s3 = extractor_s3.extract_from_s3(bucket, object_key, pathway)
print(extraction_s3.head(20))
print(extraction_s3.info())

    Unnamed: 0                                      product_name  \
0            0       FurReal Dazzlin' Dimples My Playful Dolphin
1            1               Tiffany's World Day Out At The Park
2            2               Tiffany's World Pups Picnic Playset
3            3          Tiffany's World Wildlife Park Adventures
4            4                           Cosatto Cosy Dolls Pram
5            5                      Cocomelon Magnetic Scribbler
6            6                           Peppa Pig House Felties
7            7                         Paw Patrol Walkie Talkies
8            8                       Peppa Pig 3D Walkie Talkies
9            9              Disney Encanto Magical Casa Madrigal
10          10                     Disney Encanto Mirabel's Room
11          11              Disney Encanto Isabela's Garden Room
12          12               Disney Encanto Antonio's Tree House
13          13                            Tie-Dye Slime Mega Set
14          14                     Paw Patrol Magnetic Scribbler
15          15                      Light Up Secret Hideout Tent
16          16                        Light Up Army Hideout Tent
17          17               Tiffany's World Fabulous Food Truck
18          18  Treasure X Dino Gold Pterodactyl Dino Dissection
19          19                                  My Crawling Bear

   product_price   weight        category            EAN  date_added  \
0         £39.99    1.6kg  toys-and-games  7425710935115  2005-12-02
1         £12.99   0.48kg  toys-and-games   487128731892  2006-01-09
2          £7.00     590g  toys-and-games  1945816904649  1997-03-29
3         £12.99     540g  toys-and-games  1569790890899  2013-03-20
4         £30.00   1.91kg  toys-and-games  7142740213920  2007-12-23
5         £12.99   0.91kg  toys-and-games  9022505507373  2007-02-07
6          £7.00   0.46kg  toys-and-games  5997977455405  2009-01-24
7         £12.99   0.38kg  toys-and-games    58555395171  2013-08-13
8         £12.99   0.38kg  toys-and-games  9155372675699  2005-05-26
9         £89.99  8.981kg  toys-and-games  2740880244498  2003-08-05
10        £24.99  1.478kg  toys-and-games  9821316839389  2013-09-20
11        £24.99     1.2g  toys-and-games  9644535434254  2019-08-14
12        £24.99     1.2g  toys-and-games  2421335285067  2019-04-13
13        £12.99   0.66kg  toys-and-games  9526390929079  2014-05-20
14        £12.99   0.91kg  toys-and-games  7886193859037  2003-12-21
15        £22.00    1.8kg  toys-and-games  8231049510317  2019-02-17
16        £22.00    1.9kg  toys-and-games  9963791896324  2007-02-13
17        £20.00  1.725kg  toys-and-games  5348126886814  1996-08-19
18        £16.99   0.54kg  toys-and-games  1156454414579  2003-11-12
19        £12.99  0.322kg  toys-and-games   159264905771  2000-04-19

                                    uuid          removed product_code
0   83dc0a69-f96f-4c34-bcb7-928acae19a94  Still_avaliable  R7-3126933h
1   712254d7-aea7-4310-aff8-8bcdd0aec7ff  Still_avaliable  C2-7287916l
2   b089ef6f-b628-4e37-811d-fffe0102ba64  Still_avaliable  S7-1175877v
3   d55de422-8b98-47d6-9991-e4bc4c5c0cb0          Removed  D8-8421505n
4   7945b657-cb02-4cc5-96cf-f65ed0a8f235  Still_avaliable  B6-2596063a
5   cdd568e3-9657-412b-b3a6-52f6adff966b  Still_avaliable  g3-7974400s
6   58112753-a53f-4696-ab8a-7186c7e4a57e  Still_avaliable  U3-5148457q
7   797d133a-0989-4707-914d-7c043bcbbd86  Still_avaliable  q8-5387483Z
8   a6c23718-0e25-4419-8018-600c44e5e3df  Still_avaliable  i4-2651057I
9   2e78e9a4-2b77-4b59-95e5-d60ee01ef183  Still_avaliable  b6-6234052g
10  baa31d12-ad99-4442-b663-bd8a525c1c7a  Still_avaliable   g5-411324A
11  e36989b3-7371-40ea-80b8-c23ba1a6869f  Still_avaliable  S6-3678717g
12  d3ed56bc-533e-42fe-839a-ba880bda5714  Still_avaliable  Z2-0851042W
13  44d36b71-477e-44f9-8dbc-e771a1bfbc11          Removed  t5-7763922W
14  85610de0-f2b0-4613-9b51-343875197314  Still_avaliable  Z8-4148279f
15  1f692916-439d-41c4-a524-b51bf6088e1d  Still_avaliable  l4-0484985I
16  41861b23-4675-4cd5-90b1-03a24afad922  Still_avaliable  P1-5362711n
17  245a17fd-7e6c-43b2-9708-5bc87f51329c          Removed  v7-6917295v
18  8a6c33e3-0278-4e92-b434-6664d3db6d8b  Still_avaliable  D0-3518057L
19  c5189222-d270-44c5-8b9b-5598378c7dcc  Still_avaliable    w1-22434p
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1853 entries, 0 to 1852
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     1853 non-null   int64
 1   product_name   1849 non-null   object
 2   product_price  1849 non-null   object
 3   weight         1849 non-null   object
 4   category       1849 non-null   object
 5   EAN            1849 non-null   object
 6   date_added     1849 non-null   object
 7   uuid           1849 non-null   object
 8   removed        1849 non-null   object
 9   product_code   1849 non-null   object
dtypes: int64(1), object(9)
memory usage: 144.9+ KB
None

### 3. Cleaning data

In [4]:
clean_s3 = DataCleaning()

clean_s3 =clean_s3.convert_product_weights(extraction_s3)

ValueError: could not convert string to float: ''

### 4. Loading into local db

In [ ]:
uploader.upload_to_db(uploading, clean_api, 'dim_products')