# Project 3

## RDS Database ETL
### 1. Getting data from the RDS database

In [3]:
from database_utils import DatabaseConnector

## read credentials
connector_rds = DatabaseConnector()
ai_core_yaml = 'db_creds.yaml'
connector_rds.read_db_creds(ai_core_yaml)

## initialising and returning an sqlalchemy database engine.
connection_rds = connector_rds.init_db_engine()

## Reading the data from the RDS database
connector_tables_rds = connector_rds.list_db_tables()

Credentials loaded sucessfully!!
Connection successful!
Tables in the database: ['legacy_store_details', 'dim_card_details', 'legacy_users', 'orders_table']

### 2. Extracting the table to a pandas DataFrame.

In [4]:
from data_extraction import DataExtractor
user_table_rds = 'legacy_users'

extractor_rds = DataExtractor(connection_rds)

user_df_rds = extractor.read_rds_table(user_table_rds)
print(user_df_rds.head(5))
print(user_df_rds.info())

   index first_name last_name date_of_birth                    company  \
0      0   Sigfried     Noack    1990-09-30         Heydrich Junitz KG
1      1        Guy     Allen    1940-12-01                    Fox Ltd
2      2      Harry  Lawrence    1995-08-02  Johnson, Jones and Harris
3      3     Darren   Hussain    1972-09-23                Wheeler LLC
4      4      Garry     Stone    1952-12-20                 Warner Inc

                  email_address  \
0             rudi79@winkler.de
1  rhodesclifford@henderson.com
2  glen98@bryant-marshall.co.uk
3    daniellebryan@thompson.org
4       billy14@long-warren.com

                                             address         country  \
0                       Zimmerstr. 1/0\n59015 Gießen         Germany
1  Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH  United Kingdom
2                 92 Ann drive\nJoanborough\nSK0 6LR  United Kingdom
3             19 Robinson meadow\nNew Tracy\nW22 2QG  United Kingdom
4              3 White pass\nHunterborough\nNN96 4UE  United Kingdom

  country_code       phone_number   join_date  \
0           DE   +49(0) 047905356  2018-10-10
1           GB    (0161) 496 0674  2001-12-20
2           GB  +44(0)121 4960340  2016-12-16
3           GB    (0306) 999 0871  2004-02-23
4           GB      0121 496 0225  2006-09-01

                              user_uuid
0  93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1  8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2  fc461df4-b919-48b2-909e-55c95a03fe6b
3  6104719f-ef14-4b09-bf04-fb0c4620acb0
4  9523a6d3-b2dd-4670-a51a-36aebc89f579
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15320 entries, 0 to 15319
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          15320 non-null  int64
 1   first_name     15320 non-null  object
 2   last_name      15320 non-null  object
 3   date_of_birth  15320 non-null  object
 4   company        15320 non-null  object
 5   email_address  15320 non-null  object
 6   address        15320 non-null  object
 7   country        15320 non-null  object
 8   country_code   15320 non-null  object
 9   phone_number   15320 non-null  object
 10  join_date      15320 non-null  object
 11  user_uuid      15320 non-null  object
dtypes: int64(1), object(11)
memory usage: 1.4+ MB
None

### Cleaning data

In [5]:
from data_cleaning import DataCleaning

clean_data_rds = DataCleaning()
clean_df_rds = clean_data_rds.clean_user_data(user_df_rds)

Checking for Null values:
index            0.0
first_name       0.0
last_name        0.0
date_of_birth    0.0
company          0.0
email_address    0.0
address          0.0
country          0.0
country_code     0.0
phone_number     0.0
join_date        0.0
user_uuid        0.0
dtype: float64
Deleting rows with more than 4 Null values
       index first_name last_name date_of_birth                       company  \
0          0   Sigfried     Noack    1990-09-30            Heydrich Junitz KG
1          1        Guy     Allen    1940-12-01                       Fox Ltd
2          2      Harry  Lawrence    1995-08-02     Johnson, Jones and Harris
3          3     Darren   Hussain    1972-09-23                   Wheeler LLC
4          4      Garry     Stone    1952-12-20                    Warner Inc
...      ...        ...       ...           ...                           ...
15315  14913    Stephen   Jenkins    1943-08-09  Thornton, Carroll and Newman
15316  14994    Stephen     Smith    1948-08-20               Robinson-Harris
15317  15012    Stephen  Losekann    1940-10-09                       Rosenow
15318  15269    Stephen    Rivera    1952-06-04         Taylor, Fry and Jones
15319   1249    Stephen    Duncan    1994-03-27    Phillips, Brown and Powell

                      email_address  \
0                 rudi79@winkler.de
1      rhodesclifford@henderson.com
2      glen98@bryant-marshall.co.uk
3        daniellebryan@thompson.org
4           billy14@long-warren.com
...                             ...
15315           s.jenkins@smith.com
15316             s.smith@smith.com
15317          s.losekann@smith.com
15318            s.rivera@smith.com
15319            s.duncan@smith.com

                                                 address         country  \
0                           Zimmerstr. 1/0\n59015 Gießen         Germany
1      Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH  United Kingdom
2                     92 Ann drive\nJoanborough\nSK0 6LR  United Kingdom
3                 19 Robinson meadow\nNew Tracy\nW22 2QG  United Kingdom
4                  3 White pass\nHunterborough\nNN96 4UE  United Kingdom
...                                                  ...             ...
15315     Studio 41I\nJones lodge\nOliviaborough\nE8 3DU  United Kingdom
15316              530 Young parkway\nMillsfurt\nL4G 7NX  United Kingdom
15317  Viviane-Fritsch-Straße 3/5\n15064 Bad Liebenwerda         Germany
15318   660 Ross Falls Suite 357\nAnthonymouth, MA 09610   United States
15319     Studio 4\nHancock road\nPhillipsview\nST1X 3XB  United Kingdom

      country_code       phone_number   join_date  \
0               DE   +49(0) 047905356  2018-10-10
1               GB    (0161) 496 0674  2001-12-20
2               GB  +44(0)121 4960340  2016-12-16
3               GB    (0306) 999 0871  2004-02-23
4               GB      0121 496 0225  2006-09-01
...            ...                ...         ...
15315           GB    +44(0)292018946  2016-04-15
15316           GB   +44(0)1144960977  2020-07-20
15317           DE        02984 08192  2021-03-07
15318           US       239.711.3836  2011-01-03
15319           GB   +44(0)1314960870  2015-08-28

                                  user_uuid
0      93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1      8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2      fc461df4-b919-48b2-909e-55c95a03fe6b
3      6104719f-ef14-4b09-bf04-fb0c4620acb0
4      9523a6d3-b2dd-4670-a51a-36aebc89f579
...                                     ...
15315  2bd3a12f-a92d-4cdd-b99c-fc70572db302
15316  d234c04b-c07c-46a5-a902-526f91478ecc
15317  1a0a8b7b-7c17-42d8-a946-8a85d5495651
15318  187fe06e-bd5f-4381-af2f-d7ac37ca7572
15319  0589bbca-1d58-4b1f-9d0a-04ed4c57aaa1

[15320 rows x 12 columns]
Looking for duplicates:
0        False
1        False
2        False
3        False
4        False
         ...
15315    False
15316    False
15317    False
15318    False
15319    False
Length: 15320, dtype: bool
checking data types for each columns
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15320 entries, 0 to 15319
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          15320 non-null  int64
 1   first_name     15320 non-null  object
 2   last_name      15320 non-null  object
 3   date_of_birth  15320 non-null  object
 4   company        15320 non-null  object
 5   email_address  15320 non-null  object
 6   address        15320 non-null  object
 7   country        15320 non-null  object
 8   country_code   15320 non-null  object
 9   phone_number   15320 non-null  object
 10  join_date      15320 non-null  object
 11  user_uuid      15320 non-null  object
dtypes: int64(1), object(11)
memory usage: 1.4+ MB
None

### 3. Loading the data
#### uploading the cleaned dataframe into the local database

In [6]:
# Connect with the local database

#read creds
uploader = DatabaseConnector()
ml_yaml = 'ml_dbs.yaml'
uploader.read_db_creds(ml_yaml)

# initialising and returning an sqlalchemy database engine.

uploading = uploader.init_db_engine_postgresql()

#load clean rds dataframe into local database with a new table
uploader.upload_to_db(uploading, clean_df, 'dim_users')

Credentials loaded sucessfully!!
Connection successful!
Data uploaded successfully to dim_users table.

## PDF data: ETL
### 1.Getting the data from PDF & load in df

In [7]:
import tabula

connector_pdf = DatabaseConnector()
extractor_pdf = DataExtractor(connector_pdf)

link = "https://data-handling-public.s3.eu-west-1.amazonaws.com/card_details.pdf"
extraction_pdf = extractor_pdf.retrieve_pdf_data(link)
print(extraction_pdf)

Failed to import jpype dependencies. Fallback to subprocess.
No module named 'jpype'
'pages' argument isn't specified.Will extract only from page 1 by default.

[            card_number expiry_date                card_provider  \
0        30060773296197       09/26  Diners Club / Carte Blanche
1       349624180933183       10/23             American Express
2      3529023891650490       06/23                 JCB 16 digit
3       213142929492281       09/27                 JCB 15 digit
4          502067329974       10/25                      Maestro
5      3506661913512980       11/23                 JCB 16 digit
6       377549437870679       07/27             American Express
7      2321541881278150       02/29                   Mastercard
8      6011037917693140       02/24                     Discover
9          502049986008       07/23                      Maestro
10     6501622116456490       10/28                     Discover
11     6502495513721380       11/27                     Discover
12     3551071736826240       11/31                 JCB 16 digit
13      371493449732930       10/29             American Express
14     3536516200696080       01/29                 JCB 16 digit
15     5222519319551540       01/26                   Mastercard
16  4537509987455280000       02/32                VISA 19 digit
17     6011881097126120       10/26                     Discover
18  4204210033998580000       08/28                VISA 19 digit
19     3540126062083770       09/32                 JCB 16 digit
20      180093132939478       05/30                 JCB 15 digit
21     3579161126932720       02/23                 JCB 16 digit
22     4045259395988290       06/28                VISA 16 digit
23  4305628477334070000       07/24                VISA 19 digit
24     6011112632675670       07/31                     Discover
25      370629659061970       10/30             American Express
26     3565388078802970       03/32                 JCB 16 digit
27     4413511328768020       12/30                VISA 16 digit
28     3510326851192930       10/31                 JCB 16 digit
29       30439078921644       12/25  Diners Club / Carte Blanche
30     2296814173210180       06/24                   Mastercard
31     2297205767081190       10/30                   Mastercard
32       30280604114274       04/32  Diners Club / Carte Blanche
33  4024414397695410000       05/28                VISA 19 digit
34     4529390944325970       08/23                VISA 16 digit
35          60485138139       08/27                      Maestro
36        4243023678099       02/23                VISA 13 digit
37  4976058331830470000       08/26                VISA 19 digit
38     4224188732297920       02/24                VISA 16 digit
39     3514396157366920       03/29                 JCB 16 digit
40       30158747323244       06/25  Diners Club / Carte Blanche
41     3590999821623690       07/30                 JCB 16 digit
42          60457486839       07/27                      Maestro
43        4934170565606       08/26                VISA 13 digit
44       36125643138236       06/24  Diners Club / Carte Blanche
45     4499574398661660       01/24                VISA 16 digit
46       30079697561056       07/23  Diners Club / Carte Blanche
47     3569354729407150       06/31                 JCB 16 digit
48      213139697145299       03/24                 JCB 15 digit
49         676119752563       02/25                      Maestro
50  4923545896758580000       01/23                VISA 19 digit
51     4145489239111500       02/30                VISA 16 digit
52     4131871381315060       03/27                VISA 16 digit
53        4850248250585       07/26                VISA 13 digit
54         676231685725       09/25                      Maestro

   date_payment_confirmed
0              2015-11-25
1              2001-06-18
2              2000-12-26
3              2011-02-12
4              1997-03-13
5              2003-08-25
6              2006-12-11
7              1995-08-24
8              1998-10-23
9              2011-04-30
10             2006-03-11
11             2021-10-11
12             1993-07-16
13             2014-11-08
14             2009-11-29
15             2019-02-22
16             2022-09-24
17             1996-12-03
18             2019-09-21
19             2021-04-27
20             2004-12-30
21             2015-11-16
22             2011-01-23
23             2017-03-06
24             1999-02-08
25             2008-09-27
26             2016-10-28
27             1995-08-15
28             2001-06-30
29             1998-05-20
30             2020-07-09
31             2012-03-11
32             2005-04-22
33             1997-10-02
34             2009-04-15
35             2022-11-18
36             2021-07-05
37             2021-09-29
38             1997-10-26
39             2004-11-06
40             1998-02-04
41             2002-01-14
42             2006-12-31
43             2008-10-10
44             1999-03-16
45             2016-08-07
46             2000-08-15
47             1997-04-18
48             2010-03-01
49             1995-07-22
50             2017-08-15
51             2018-08-31
52             2007-07-30
53             1995-12-18
54             1998-01-30  ]

### 2. put into a dataframe

In [8]:

pdf_df = extractor_pdf.load_pdf_df(extraction_pdf)

TypeError: DataExtractor.__init__() missing 1 required positional argument: 'connector'

In [ ]:
clean_pdf = clean_data.clean_card_data(pdf_data_extraction)


#DBConnector
# read creds
#return db engine
#read data 

#dataextractor
#put into a df

#cleaning
#DB COnnector
#Connect with local datbase (uploader and uploading)

Checking for Null values:

AttributeError: 'list' object has no attribute 'isna'